.field {
  &__wrapper {
      font-size: 14px;
      display: block;
      padding: 10px 0;
  }
  &__input {
    .border-radius(5px);
    border: 1px solid @light-gray;
    padding: 5px;
  }
  &__label {
    padding: 5px 0;
    display: block;
  }
}