.breadcrumb {
  &__container {
    padding-top: 10px;
  }
  &__item {
    display: inline-block;
    overflow: hidden;
    .transition(all 0.2s ease-in-out 0s);
    &--upload {
      a {
        color: @secondary-color;
      }
    }
    &--hidden {
      width: 0;
      display: none;
    }
  }
  &__arrow {
    vertical-align: text-top;
    text-decoration: none;
    display: none;
    &:after {
      content:"\f078";
      font-family: @font-awesome;
      position: relative;
      display: inline-block;
    }
    &--active {
      display: inline-block;
    }
    &.toggle-open {
      &:after {
        content:"\f077";
        font-family: @font-awesome;
        position: relative;
        display: inline-block;
      }
    }

  }
}